* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}

.swal2-container {
	zoom: 1.5;
}

:root {
	--eerie-black: #1A1919;
	--tea-green: #DBF0CC;
	--dark-tea-green: #6E7866;
	--alabaster: #F2F2E4;
	--lavender-gray: #C6BACF;
	--queen-pink: #E8C5D2;
	--bone: #E8D8C3;
}

html {
	font-size: 10px;
	font-family: 'open Sans', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.btn {
	position: relative;
	display: inline-flex;
	height: 40px;
	width: 30%;
	border-radius: 5px;
	/* margin: 0px 0px; */
	padding: 0px 3px;
	overflow: hidden;
	transition: all .4s;
}

.btn-input{
	width: 100%;
	margin-bottom: 20px;
}

.btn .inner {
	position: absolute;
	width: 300%;
	height: 100%;
	left: -100%;
	/* top: 0px; */
	z-index: 1;
	transition: all .4s;
}

.btn button {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 10px;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 2;
}

.btn input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 10px;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 2;
}

.btn:hover {
	transform: scale(1.03);
}

.btn:hover .inner {
	left: 0;
}

.btn-submit .inner {
	background: -webkit-linear-gradient(right, #99f2d1, #1c3e35);
}

.btn-cancel .inner {
	background: -webkit-linear-gradient(right, #83489e, #c5302e);
}

.btn-modify .inner {
	background: -webkit-linear-gradient(right, #c6f8ff, #595cff);
}

.btn-more .inner {
	background: -webkit-linear-gradient(right, #e62314, #f19e18);
}

.btn-addflower .inner {
	background: -webkit-linear-gradient(right,#caefd7, #f5bfd7, #abc9e9);
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.section-title span {
	color: var(--queen-pink);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: var(--eerie-black);
	background-color: transparent;
	border: 2px solid var(--queen-pink);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: var(--eerie-black);
	background-color: var(--queen-pink);
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.brand a{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.brand p{
	font-size: 2rem;
	color: white;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(26, 25, 25, 0.6);
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: var(--eerie-black);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: var(--queen-pink);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./asset/homeBG.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

.mw {
	max-width: 600px;
}

.mw .cta {
	color: white;
}

.mw .cta:hover {
	color: var(--eerie-black);
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--queen-pink);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */

#services {
	background: linear-gradient(45deg,#E0C5DC 0%,#7675A1 100%);
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .service-top {
	max-width: 700px;
	margin: 0 auto;
}

#services a{
	font-size: 1.5rem;
	color: var(--queen-pink);
}

#services a:hover{
	font-size: 1.5rem;
	color: var(--lavender-gray);
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	min-height: 400px;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(../static/asset/card.jpg);
	background-size: cover;
	background-position: left;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #240A31 0%, #1B0825 100%);
	opacity: 0.6;
	z-index: -1;
}

#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
}

#services .service-item p {
	color: white;
	text-align: left;
}

#services .service-item .cta {
	color: white;
	bottom: 20px;
}

#services .service-item .cta {
	color: white;
}

#services .service-item .cta:hover {
	color: var(--eerie-black);
}

.admin-option {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* End Services Section */

/* addFlower Section */

#addFlower .addFlower {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#addFlower .addFlowerOption {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 20px;
}

/* #addFlower .form-top .section-title {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

#addFlower {
	background-image: url(./asset/BG1.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#addFlower .addFlower {
	flex-direction: column;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 100px 0;
}

#addFlower .flowerInfoPanel {
	width: calc(100% - 40px);
	margin: 0px 20px;
	padding: 40px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#addFlower .flowerInfoPanel h2{
	color: white;
	font-size: 3rem;
	margin-bottom: 10px;
}

#addFlower .flowerInfo{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#addFlower .flowerInfo h3{
	color: white;
	font-size: 1.5rem;
	margin: 10px 0px 0px 0px;
}

#addFlower .flowerInfo p{
	margin: 0px 0px 0px 0px;
	color: var(--tea-green);
}

#addFlower .addFlowerForm{
	margin: 0px 15px;
	padding: 40px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#addFlower .addFlowerForm h2 {
	color: white;
	font-size: 3rem;
	margin-bottom: 10px;
}

#addFlower .form-bottom {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	margin-top: 0 50px;
}

form .input-data {
	width: calc(100% - 5px);
	margin: 20px 5px;
	position: relative;
}

.input-data input,
.input-textarea textarea {
	background: none;
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 17px;
	padding-top: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	color: white;
	outline: none;
}
input {
	color: white;
	background-color: black;
}
::-ms-reveal {
	filter: invert(100%);
  }

.input-data input:focus~label,
.input-textarea textarea:focus~label,
.input-data input:valid~label,
.input-textarea textarea:valid~label {
	transform: translateY(-20px);
	font-size: 14px;
	color: var(--bone);
}

/* .textarea textarea {
	resize: none;
	padding-top: 20px;
} */

.input-data label,
.input-textarea label {
	color: white;
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	left: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.input-data .underline {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
}

.input-data .underline:before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	height: 2px;
	width: 100%;
	background: var(--bone);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.input-textarea textarea:focus~.underline:before,
.input-textarea textarea:valid~.underline:before {
	transform: scale(1);
}

/* End addFlower Section */

/* adminLogin Section */
#adminLogin {
	background-image: url(./asset/BG1.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#adminLogin .adminLogin {
	flex-direction: column;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
}

#adminLogin .loginForm {
	min-height: 350px;
	/* width: 240px; */
	max-width: 600px;
	margin: 0px 15px;
	padding: 40px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#adminLogin .loginForm p {
	color: white;
	margin: 0;
	padding: 0px 10px;
}

#adminLogin .loginForm h2 {
	color: white;
	font-size: 2rem;
	margin-bottom: 10px;
}

#adminLogin .loginForm a {
	color: var(--tea-green);
}

#adminLogin .loginForm form {
	width: 100%;
}

#adminLogin .loginForm a:hover {
	color: var(--dark-tea-green);
}

/* End adminLogin Section */

/* About Section */

#about {
	background-image: url(./asset/BG1.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
}

#about .col-right span {
	color: var(--queen-pink);
}

#about .col-right h2 {
	color: white;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	color: white;
	margin-bottom: 20px;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .about .col-left .uploaded-image {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* End About Section */

/* contact Section */

#contact {
	background: linear-gradient(45deg,#E0C5DC 0%,#7675A1 100%);
}

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #9d80cb, #f7c2e6);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h1 {
	color: var(--eerie-black);
}

#footer h2 {
	color: var(--eerie-black);
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 70px;
	width: 70px;
	margin: 0 5px;
}

#footer .social-item img {
	filter: grayscale(0);
	transition: 0.3s ease filter;
}

#footer .social-item:hover img {
	filter: grayscale(1);
}

#footer p {
	color: var(--eerie-black);
	font-size: 1.3rem;
}

/* End Footer */


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: var(--queen-pink);
		font-weight: 500;
	}
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 1.8rem;
	}

	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}

	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}

	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

	#projects .all-projects .project-info {
		height: 100%;
	}

	#projects .all-projects .project-img {
		height: 100%;
	}

	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	/* #about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	} */
	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}

	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}

	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}

	#contact .contact-item .icon img {
		object-fit: contain;
	}

	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	/* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	/* header */
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

/* End  Media Query For Desktop */