{% extends "base.html" %}

{% block title %} HomePage {% endblock %}

{% block content %}
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Thông tin <span>liên lạc</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>điện thoại</h1>
                    <h2>(+84) 702 953 233</h2>
                    <h2>(+84) 777 931 789</h2>
                    <h2>(+84) 375 951 581</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>datb1906448@student.ctu.edu.vn</h2>
                    <h2>anb1906617@student.ctu.edu.vn</h2>
                    <h2>nhib1906539@student.ctu.edu.vn</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                <div class="contact-info">
                    <h1>địa chỉ</h1>
                    <h2>Khu II trường ĐH Cần Thơ, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}