{% extends "base.html" %}

{% block title %} HomePage {% endblock %}

{% block content %}
<!-- Hero Section  -->
<section id="hero">
    <div class="hero container">
        <div class="mw">
            <h1 style="font-size: 3rem;">Chào mừng bạn đến với Floral Sensei!<span></span></h1>
            <br>
            <br>
            <br>
            <h1>Khám phá vẻ đẹp của hoa thông qua công nghệ nhận diện hoa tiên tiến của chúng tôi. Chỉ cần tải lên hình
                ảnh hoa của bạn, và chúng tôi sẽ giúp bạn xác định tên gọi và cung cấp thông tin chi tiết về các loài
                hoa.<span></span></h1>
            <a href="/recognize" type="button" class="cta">Trải nghiệm ngay</a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->
{% endblock %}